@model IEnumerable<assignment3.Models.Person>

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration Complete</h1>

<p class="text-primary">
    Thank you for your interest. The club will be in touch shortly.
</p>

